body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

nav {
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #0056b3;
    transition: 0.3s;
}



h2 {
    text-align: center;
    margin: 20px 0;
    color: #007bff;
}


table {
    width: 90%;
    margin: 0 auto 20px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

table td a:hover {
    text-decoration: underline;
}


p {
    text-align: center;
    color: #666;
    font-size: 16px;
}
