<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="/static/home.css">
    <header>
        <button onclick="location.href='register'">Register</button>
    </header>
</head>
<center>
    <main>
        <h1>HOW MAY WE HELP YOU</h1>
        <p>Please select an option:</p>
        <center>
            <button onclick="location.href='userlogin'">Log in as User</button>
        <button onclick="location.href='adminlogin'">Log in as Admin</button>
        </center> 
    </main>
</center>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</html>