<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Professionals</title>
    <link rel="stylesheet" href="/static/manage_professionals.css">
</head>
<body>
    <nav>
        <a href="/admin_dashboard">Home</a>
        <a href="/manage_customers">Customers</a>
        <a href="/manage_professionals">Professionals</a>
        <a href="/manage_services">Services</a>
        <a href="/admin_bookings">Bookings</a>
        <a href="/logout">Logout</a>
    </nav>
    <h2>Manage Service Professionals</h2>
    <ul>
        {% for professional in professionals %}
        <li>
            {{ professional.name }} -  {{ professional.username }} - {{professional.status}}
            <form action="/approve_professional/{{ professional.id }}" method="post">
                <button type="submit">Approve</button>
            </form>
            <form action="/block_professional/{{ professional.id }}" method="post">
                <button type="submit">Block</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
